<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar fixed-top flex-md-nowrap p-0 shadow">
  <div class="container-fluid">
    <div class="row" style="width: 100%;">
      <div class="col-md-4"></div>
      <div class="col-md-8 header-schedule">
        <div class="header-schedule__item">8am</div>
        <div class="header-schedule__item">12pm</div>
        <div class="header-schedule__item">16pm</div>
        <div class="header-schedule__item">20pm</div>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid main-container">
  <div class="row">
    <div class="col-md-4">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-8 col-schedule">
      <app-schedule-row [date]="'17 September 2018'"></app-schedule-row>
    </div>
  </div>
</div>

